#idea
*.iml
.idea/

#mac os
.DS_Store

#maven
target/

#eclipse
.project
.classpath

#??
.vscode

#??
logs
npm-debug.log

#mybatis
mybatis-generator/

##??
.apt_generated
.factorypath
.project
.settings
.springBeans
.class
